@import "tailwindcss";
@theme {
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 976px;
    --breakpoint-xl: 1440px;
    --color-cyan: hsl(180, 66%, 49%);
    --color-cyanLight: hsl(180, 66%, 69%);
    --color-darkViolet: hsl(257, 27%, 26%);
    --color-red: hsl(0, 87%, 67%);
    --color-grayishViolet: hsl(257, 7%, 63%);
    --color-veryDarkBlue: hsl(255, 11%, 22%);
    --color-veryDarkViolet: hsl(260, 8%, 14%);
    --font-display: 'Poppins', 'sans-serif';
    --spacing-180: '32rem';
}


#cta {
    background-image: url('images/bg-boost-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.ficon:hover {
    filter: invert(79%) sepia(61%) saturate(464%) hue-rotate(130deg) brightness(89%) contrast(85%);
}